html {
  @apply antialiased min-h-full;
}

body {
  font-family: "Fira Sans", sans-serif;
}

/* veritcal centering */
.mid {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 90vh;
}

.middle {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.fadein {
  animation: fadeIn 0.3s ease-in-out;
}

.fadeinSlow {
  animation: fadeIn 1.9s ease-in-out;
}

.fadeInUp {
  animation: fadeInUp 0.3s ease-in-out;
}

.fadeInUpSlow {
  animation: fadeInUp 0.6s ease-out;
}

@keyframes fadeInUp {
  0% {
    transform: translateY(100%);
    opacity: 0;
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}

.fadeinDown {
  animation: fadeInDown 0.3s ease-in-out;
}

.fadeOut {
  animation: fadeOut 0.3s ease-in-out;
}

.fadeOutSlow {
  animation: fadeOut 1.6s ease-in-out;
}

.tiny {
  font-size: 0.8rem;
  opacity: 0.6;
}

.big-input {
  font-size: 2.5rem;
}

.header {
  font-size: 1.5rem;
  letter-spacing: 0.1em;
  font-weight: 600;
  text-transform: uppercase;
  color: rgb(212, 212, 212);
}

.trans {
  transition: all 0.3s;
}

.shrink {
  transform: scale(0.6) translateY(-40%);
  margin-bottom: 0px;
}

.subheader {
  font-size: 0.8rem;
  letter-spacing: 0.2em;
  font-weight: 600;
  text-transform: uppercase;
  color: rgb(212, 212, 212);
  opacity: 0.8;
}

.router-link {
  @apply text-blue-200 hover:text-blue-700 cursor-pointer underline;
}

.card {
  @apply bg-gray-800 shadow-lg rounded-lg p-4 w-max;
}

.btn {
  @apply inline-block p-3 text-sm font-medium leading-5 text-center text-white uppercase transition-colors duration-150 ease-in-out rounded-lg;
}

.btn-primary {
  @apply bg-blue-600 hover:bg-blue-500 focus:outline-none;
}

.btn-secondary {
  @apply bg-gray-600 hover:bg-gray-500 focus:outline-none;
}

.btn-success {
  @apply bg-green-600 hover:bg-green-500 focus:outline-green-200;
}

.btn-warning {
  @apply bg-yellow-600 hover:bg-yellow-500 focus:outline-none;
}

.btn-lg {
  @apply px-4 py-2 text-2xl;
}

.btn-sm {
  @apply px-1 py-1 text-xs;
}

.btn-block {
  @apply w-full text-2xl py-3 font-bold;
}
/* Tailwind CSS classes */
.badge {
  @apply text-sm uppercase font-medium me-2 px-2.5 py-0.5 rounded dark:bg-blue-900 dark:text-blue-300 inline-block;
}

.badge-primary {
  @apply bg-blue-900 text-blue-200 border-2 border-blue-800;
}

.badge-1 {
  @apply bg-blue-800 text-blue-200 border-2 border-blue-700;
}

.badge-0 {
  @apply bg-yellow-900 text-orange-200 border-2 border-orange-700;
}

.badge-lg {
  @apply text-lg bg-blue-900 text-blue-200 border-2 border-blue-800 p-4 uppercase font-bold;
}

.badge-success {
  @apply bg-green-900 text-green-200 border-2 border-green-800;
}

.badge-danger {
  @apply bg-red-900 text-red-200 border-2 border-red-800;
}

.badge-warning {
  @apply bg-yellow-900 text-yellow-200 border-2 border-yellow-800;
}

.badge-warning:hover {
  @apply bg-yellow-800 text-yellow-200 border-2 border-yellow-700;
}

.alert {
  @apply px-4 py-3 rounded-lg;
}

.alert-success {
  @apply bg-gray-700 text-green-300 uppercase border border-2 border-green-700;
}

.alert-warning {
  @apply bg-gray-700 text-yellow-300 uppercase border border-2 border-yellow-700;
}

.alert-info {
  @apply bg-gray-700 text-blue-300 uppercase border border-2 border-blue-700;
}

.alert-danger {
  @apply bg-gray-700 text-red-300 uppercase border border-2 border-red-700;
}

.alert-danger::before {
  content: "⚠️ ";
  color: red;
}

.centered {
  @apply flex flex-col justify-center items-center space-y-4;
}

.subtitle {
  @apply text-xs uppercase opacity-70;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes fadeOut {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
@keyframes fadeInUp {
  0% {
    opacity: 0;
    transform: translateY(10px);
  }
  80% {
    opacity: 0.8;
    transform: translateY(2px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes fadeInDown {
  0% {
    opacity: 0;
    transform: translateY(-10px);
  }
  80% {
    opacity: 0.8;
    transform: translateY(-2px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

.print-only {
  display: none;
}

@media print {
  .print-only {
    display: block;
  }

  .no-print,
  .no-print * {
    display: none !important;
  }
  .print-padding {
    position: absolute;
    top: 250px;
    color: black;
    font-size: 2rem;
    text-align: center;
    width: 100%;
  }

  .print-size {
    /* transform: scale(2) !important;*/
    /*margin-top: 260px !important;*/
  }
  .print-black {
    color: black !important;
  }
}
