html {
  @apply antialiased min-h-full;
}

body {
  font-family: "Fira Sans", sans-serif;
}

.fadein {
  animation: fadeIn 0.3s ease-in-out;
}

.fadeinUp {
  animation: fadeInUp 0.3s ease-in-out;
}

.tiny {
  font-size: 0.8rem;
  opacity: 0.6;
}

.subheader {
  font-size: 0.8rem;
  letter-spacing: 0.2em;
  font-weight: 600;
  text-transform: uppercase;
  color: rgb(212, 212, 212);
  opacity: 0.8;
}

.btn {
  @apply inline-block p-3 text-sm font-medium leading-5 text-center text-white uppercase transition-colors duration-150 ease-in-out rounded-lg;
}

.btn-primary {
  @apply bg-blue-600 hover:bg-blue-500 focus:outline-none;
}

.btn-secondary {
  @apply bg-gray-600 hover:bg-gray-500 focus:outline-none;
}

.btn-success {
  @apply bg-green-600 hover:bg-green-500 focus:outline-green-200;
}

.btn-lg {
  @apply px-4 py-2 text-2xl;
}

/* Tailwind CSS classes */
.badge {
  @apply text-sm uppercase font-medium me-2 px-2.5 py-0.5 rounded dark:bg-blue-900 dark:text-blue-300 inline-block;
}

.badge-primary {
  @apply bg-blue-900 text-blue-200 border-2 border-blue-800;
}

.badge-In-Bracket {
  @apply bg-blue-800 text-blue-200 border-2 border-blue-700;
}

.badge-limbo {
  @apply bg-yellow-900 text-orange-200 border-2 border-orange-700;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes fadeInUp {
  0% {
    opacity: 0;
    transform: translateY(20px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}
